#meals{
    text-align: center;
}

.meal{
    cursor: pointer;
}

.meal img{
    margin-top: 5%;
    width: 330px;
    border: 4px 4px 4px 0 rgba(202, 197, 197, 0.075) solid;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

h3{
    width: 330px;
    background-color: rgb(243, 239, 239);
    text-align: center;
    border: 4px rgba(241, 232, 232, 0.075) solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 0%;
    margin-left: 3.75%;
    padding: 5%;
}
.single-meal img{
    width: 60%;
    margin: 10%;
    border: 4px white solid;
    border-radius: 15px;
}